[project]
	description = Storage Performance Development Kit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shengqiu001
[access "refs/for/refs/*"]
	read = group user/shengqiu001
	push = group user/shengqiu001
	label-Code-Review = -2..+2 group user/shengqiu001
	label-Verified = -1..+1 group user/shengqiu001
	rebase = group user/shengqiu001
	removeReviewer = group user/shengqiu001
	submit = group user/shengqiu001
[access "refs/heads/*"]
	read = group user/shengqiu001
	create = group user/shengqiu001
	push = +force group user/shengqiu001
	pushMerge = group user/shengqiu001
[access "refs/tags/*"]
	push = group user/shengqiu001
	push = +force group user/shengqiu001
